#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;
    color: #11e0a9;
}
#btnContainer{
    text-align: center;
}
#btnContainer button{
    font-size: 2em;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #9e4722;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
#btnContainer button:hover{
    background-color: #c6794c;
}